@import "tailwindcss";
:root {
  --bg-base: #0F172A;
  
  --bg-surface: #1E293B;

  --text-primary: #F8FAFC;
  
  --text-secondary: #94A3B8;

  --brand-primary: #A27BA1;

  --action-success: #2DD4BF;
}

body {
  background-color: var(--bg-base);
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar but keep scroll functionality */

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* Internet Explorer / old Edge */
* {
  -ms-overflow-style: none;
}


.bg-base {
  background-color: var(--bg-base);
}

.bg-surface {
  background-color: var(--bg-surface);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-brand {
  color: var(--brand-primary);
}

.text-success {
  color: var(--action-success);
}


.btn-brand {
  background-color: var(--brand-primary);
  color: var(--bg-base);
}

.btn-success {
  background-color: var(--action-success);
  color: var(--bg-base); 
}


.border-surface {
  border: 1px solid var(--bg-surface);
}
.border-muted {
  border: 1px solid var(--text-secondary);
}

